<div class="row h-75 w-100 d-flex align-items-center mx-0 py-3 px-5">
    <div class="col">

        <h1 class="text-center">Insira aqui as suas soft skills:</h1>
        <form class="example-form">
            <div class="d-flex justify-content-center">
                <table cellspacing="0">
                    <tr *ngFor="let item of listaHabilidades">
                        <td>
                            <mat-form-field class="w-160">
                                <mat-label>Habilidade</mat-label>
                                <input matInput placeholder="Ex: Iniciativa, Comunicação, Empatia">
                            </mat-form-field>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="d-flex justify-content-center">
                <button type="button" mat-raised-button (click)="adicionarHabilidade()">Adicionar Habilidade
                    <mat-icon>add</mat-icon>
                </button>
            </div>
        </form>

        <p class="text-center text-secondary mt-5 mb-3">Após finalizar clique no ícone
            <img src="https://uploaddeimagens.com.br/images/004/027/870/original/Screenshot_from_2022-09-19_19-56-11.png?1663628345"
                alt="opção voltar" style="width: 23px;">
            acima, e depois no botão confirmar.
        </p>
    </div>
</div>