<div class="row h-75 w-100 d-flex align-items-center mx-0 py-3 px-5">
    <div class="col">

        <h1 class="text-center">Insira aqui as suas soft skills:</h1>
        <div class="d-flex justify-content-center">
            <table cellspacing="0">
                <tr *ngFor="let item of listaHabilidades; let i = index">
                    <td>
                        <mat-form-field class="w-250">
                            <mat-label>Habilidade</mat-label>
                            <input matInput placeholder="Ex: Iniciativa, Comunicação, Empatia" maxlength="60"
                                [(ngModel)]="item.habilidade" (change)="onChangeSoftSkill()"
                                [disabled]="bloquearAlteracoesSoftSkill">
                        </mat-form-field>
                    </td>
                    <td *ngIf="i != 0">
                        <button type="button" mat-icon-button class="mx-1" (click)="removerHabilidade(i)"
                            [disabled]="bloquearAlteracoesSoftSkill" aria-label="excluir habilidade">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </tr>
            </table>
        </div>

        <div class="d-flex justify-content-center">
            <button type="button" mat-raised-button (click)="adicionarHabilidade()"
                [disabled]="bloquearAlteracoesSoftSkill">Adicionar Habilidade
                <mat-icon>add</mat-icon>
            </button>
        </div>

        <app-info-retornar-iframe [alteracoes-liberadas]="!bloquearAlteracoesSoftSkill"></app-info-retornar-iframe>

    </div>
</div>