<section class="container-fluid h-100 text-center bg-light">
    <div class="row h-100 d-flex align-items-center align-content-center">
        <div class="row">
            <div class="col">
                <p class="display-3">Dóris – Triagem de Candidatos</p>
                <p class="lead">Este é um sistema que permite o cadastramento de informações de candidatos para processos seletivos.</p>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col">
                <img class="img-doris" [src]="'../../../assets/img-expressoes/' + expressaoDoris.value.pathImg" [alt]="expressaoDoris.value.descricao">
            </div>
        </div>

        <!-- <button (click)="sendData()">Teste API</button> -->
    </div>
</section>