<section class="container-fluid h-100 text-center bg-light">
    <div class="row h-100 d-flex align-items-center align-content-center">
        <div class="row">
            <div class="col">
                <h1 class="mat-display-4">Dóris</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <img class="img-doris" [src]="'../../../assets/img-expressoes/' + expressaoDoris.value.pathImg" [alt]="expressaoDoris.value.descricao">
            </div>
        </div>

        <!-- <button (click)="sendData()">Teste API</button> -->
    </div>
</section>